*{
    margin: 0;
    padding: 0;
}
.index-1,.index-2{
    width: 1080px;
    margin: 0 auto;
    padding-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.index-21{
    line-height: 30px;
}
.index-11{
    line-height: 30px;
}
select{
    width: 100px;
    line-height: 30px;
}
li{
    list-style: none;
}